<thead>
  <th style="text-align:center"
    ng-controller="ColumnController as colCtrl"
    ng-init="colCtrl.init(column, board)"
    ng-repeat="column in board.attributes.columns">
    <div>
      <a href="#" ng-click="column.$newcard = true" ng-hide="column.$newcard">
        New Card
      </a>
      <a href="#" ng-click="column.$newcard = null" ng-show="column.$newcard">
        Cancel
      </a>
    </div>
    <b>{{column.name}}</b>
    <span class="badge">{{column.cards.length}}</span>
    <img ng-show="column.isSyncing" src="images/ajax-loader.gif"></img>
  </th>
</thead>
<tbody>
<tr>
  <td class="column"
    ng-repeat="column in board.attributes.columns track by column._id"
    width="{{(100/board.attributes.columns.length)}}%">
    <div react-newcard data-column="column" ng-show="column.$newcard"></div>
    <div react-column="column"></div>
  </td>
</tr>
</tbody>
