<div class="container-fluid">
  <div class="well">
    <div class="row">
      <div class="col-md-12">
        <div ng-show="board.creator.errors" class="alert alert-danger">{{board.creator.errors}}</div>
        <div ng-show="board.creator.success" class="alert alert-success">{{board.creator.success}}</div>
        <form role="form">
          <div class="form-group">
            <label for="boardName">Board Name</label>
            <input type="text" ng-model="board.creator.boardName" class="form-control" placeholder="My Board">
          </div>
          <button ng-click="board.creator.submit()" type="submit" class="btn btn-primary">Submit</button>  
        </form>


      </div>
    </div>
  </div>
</div>

