<ul class="list-group">
  <li class="list-group-item"
  ng-init="row = $index"
  ng-repeat="card in column.cards" >
  <span class="badge">{{card.comments}}</span>
  <a class="pull-left" href="{{card.html_url}}" target="_blank">{{card.title}}</a>
  <br>
  <div class="btn-group">
    <button
      class="btn btn-default btn-xs"
      ng-if="col > 0" 
      ng-click="board.moveCard('left', col, row)">
      <i class="glyphicon glyphicon-arrow-left"></i>
    </button>
    <!--
                    <button
                      class="btn btn-default btn-xs"
                      style="color:red"
                      ng-click="board.removeCard(col, row)">
                      <i class="glyphicon glyphicon-remove-sign"></i>
                    </button>
                    <button
                      class="btn btn-default btn-xs"
                      ng-click="board.logCard(card)">
                      <i class="glyphicon glyphicon-wrench"></i>
                    </button>
                    -->
    <button
      class="btn btn-default btn-xs"
      ng-hide="row === column.cards.length-1"
      ng-click="board.moveCard('down', col, row)">
      <i class="glyphicon glyphicon-arrow-down"></i>
    </button>
    <button
      class="btn btn-default btn-xs"
      ng-hide="row === 0"
      ng-click="board.moveCard('up', col, row)">
      <i class="glyphicon glyphicon-arrow-up"></i>
    </button>
    <button
      class="btn btn-default btn-xs"
      ng-if="col !== board.columns.length-1"
      ng-click="board.moveCard('right', col, row)">
      <i class="glyphicon glyphicon-arrow-right"></i>
    </button>
  </div>
  </li>   
</ul>
