<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">{{board.name}}</a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li><a ng-hide="nav.session.loggedIn" href="/auth/github">Login</a></li>
      <li><a href="#"
        ng-show="nav.session.loggedIn"
        ng-click="board.importing ? board.closeImport() : board.startImport()">
        {{board.importing ? "Close Importer" : "Open Importer"}}</a>
      </li>
      <li><a href="/logout"
        ng-show="nav.session.loggedIn">
        Logout {{nav.session.uid}}</a>
      </li>
    </ul>
  </div><!--/.nav-collapse -->
</div>
