<div class="container-fluid">
  <div class="well">
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-danger"
          ng-show="board.creator.errors" >{{board.creator.errors}}
        </div>
        <div class="alert alert-success"
          ng-if="board.creator.success"
          ng-show="board.creator.success">{{board.creator.success}}
        </div>
        <form role="form">
          <div class="form-group">
            <label for="boardName">Board Name</label>
            <input type="text" id="boardNameInput" autofocus ng-model="board.creator.boardName" class="form-control" placeholder="My Kanban Project">
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-btn">
                <span class="btn btn-primary btn-file">
                  Import JSON&hellip; <input ng-jsonreader ng-model="board.creator.jsonImport" type="file" class="upload">
                </span>
              </span>
              <input type="text" class="form-control" value="{{board.creator.jsonImport}}" readonly>
              <span class="input-group-btn">
                <button ng-click="board.creator.jsonImport = null" class="btn btn-default">Clear JSON</button>
              </span>
            </div>
          </div>
          <button type="submit" class="btn btn-success pull-right"
            ng-click="board.creator.submit()">Submit
          </button>  
          <button ng-click="board.creator.close()" class="btn btn-default">Close</button>  
        </form>
      </div>
    </div>
  </div>
</div>

