<div class="container-fluid">
  <div class="well">
    <h4>Importing into
      {{board.attributes.columns[board.projectLinker._Col].name}}
    </h4>
    <p>{{board.projectLinker._Help}}</p>

    <button href="#"
      class="btn btn-default"
      ng-tooltip="{{provider.info.displayName}}"
      ng-hide="board.projectLinker._Provider"
      ng-repeat="provider in board.projectLinker.providers"
      ng-click="provider.next()">
      <img ng-src="{{provider.info.iconUrl}}" alt="{{provider.info.displayName}}"/>
    </button>

    <button
      class="btn btn-default"
      ng-show="board.projectLinker._PersonalOrOrg"
      ng-click="board.projectLinker._Provider.personal()">
      Personal
    </button>

    <button
      class="btn btn-default"
      ng-show="board.projectLinker._PersonalOrOrg"
      ng-click="board.projectLinker._Provider.org()">
      Organization
    </button>

    <a href="#" style="display:block"
      ng-show="board.projectLinker._Orgs"
      ng-repeat="org in board.projectLinker._Orgs"
      ng-click="board.projectLinker._Provider.selectOrg(org)">
      {{org.login}}
    </a>

    <!-- Repository selector -->
    <select multiple
      ui-select2="{width: '100%'}"
      ng-model="board.projectLinker._WantedReposIds"
      ng-if="board.projectLinker.fetchedAllRepos">
      <option
      value="{{repo.id}}"
      ng-if="! board.attributes.links[provider.info.name][repo.id]"
      ng-repeat="repo in board.projectLinker._Repos">
      {{repo.full_name}}
      </option>
    </select>

    <br>

    <!-- Commit selections! -->
    <button type="button" class="btn btn-primary"
      ng-show="board.projectLinker._WantedReposIds.length"
      ng-click="board.projectLinker._Provider.importWantedRepos()">
      Link {{board.projectLinker._WantedReposIds.length}} Repositor{{ 
      board.projectLinker._WantedReposIds.length | plural:"y":"ies" }}
    </button>


    <button ng-click="board.projectLinker.close()" class="btn btn-default">Close</button>  
  </div>
</div>
